CRMActivityService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateBusnissInteraction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBusnissInteractionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBusnissInteractionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBusnissInteractionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBusnissInteraction" />
  </wsdl:message>
  <wsdl:message name="CreateBusnissInteractionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBusnissInteractionResponse" />
  </wsdl:message>
  <wsdl:portType name="CRMActivityServiceSoap">
    <wsdl:operation name="CreateBusnissInteraction">
      <wsdl:input message="tns:CreateBusnissInteractionSoapIn" />
      <wsdl:output message="tns:CreateBusnissInteractionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRMActivityServiceSoap" type="tns:CRMActivityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBusnissInteraction">
      <soap:operation soapAction="http://tempuri.org/CreateBusnissInteraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRMActivityServiceSoap12" type="tns:CRMActivityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBusnissInteraction">
      <soap12:operation soapAction="http://tempuri.org/CreateBusnissInteraction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMActivityService">
    <wsdl:port name="CRMActivityServiceSoap" binding="tns:CRMActivityServiceSoap">
      <soap:address location="http://localhost:18474/CRMActivityService.asmx" />
    </wsdl:port>
    <wsdl:port name="CRMActivityServiceSoap12" binding="tns:CRMActivityServiceSoap12">
      <soap12:address location="http://localhost:18474/CRMActivityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>