CustomerService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Charge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="endUserIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receivedTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChargeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Refund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="endUserIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receivedTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BonusRefund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="endUserIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externalData2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receivedTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BonusRefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BonusRefundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChargeSoapIn">
    <wsdl:part name="parameters" element="tns:Charge" />
  </wsdl:message>
  <wsdl:message name="ChargeSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeResponse" />
  </wsdl:message>
  <wsdl:message name="RefundSoapIn">
    <wsdl:part name="parameters" element="tns:Refund" />
  </wsdl:message>
  <wsdl:message name="RefundSoapOut">
    <wsdl:part name="parameters" element="tns:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="BonusRefundSoapIn">
    <wsdl:part name="parameters" element="tns:BonusRefund" />
  </wsdl:message>
  <wsdl:message name="BonusRefundSoapOut">
    <wsdl:part name="parameters" element="tns:BonusRefundResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceSoap">
    <wsdl:operation name="Charge">
      <wsdl:input message="tns:ChargeSoapIn" />
      <wsdl:output message="tns:ChargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundSoapIn" />
      <wsdl:output message="tns:RefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BonusRefund">
      <wsdl:input message="tns:BonusRefundSoapIn" />
      <wsdl:output message="tns:BonusRefundSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoap" type="tns:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Charge">
      <soap:operation soapAction="http://tempuri.org/Charge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://tempuri.org/Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BonusRefund">
      <soap:operation soapAction="http://tempuri.org/BonusRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceSoap12" type="tns:CustomerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Charge">
      <soap12:operation soapAction="http://tempuri.org/Charge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap12:operation soapAction="http://tempuri.org/Refund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BonusRefund">
      <soap12:operation soapAction="http://tempuri.org/BonusRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceSoap" binding="tns:CustomerServiceSoap">
      <soap:address location="http://localhost:18474/CustomerService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceSoap12" binding="tns:CustomerServiceSoap12">
      <soap12:address location="http://localhost:18474/CustomerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>